@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(red-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.contaner {
  width: 600px;
  height: 600px;
  /* border: white 2px solid; */
  transform: rotate(45deg);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 5px;
}

.contaner > div {
  background-color: #d7d2c5;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  transition: 500ms;
  box-shadow: black 0px 0px 13px -5px;
}

.contaner > div:nth-child(1) {
  grid-area: 2 / 4 / 3 / 5;
}

.contaner > div:nth-child(2) {
  grid-area: 1 / 5 / 3 / 7;
}

.contaner > div:nth-child(3) {
  grid-area: 1 / 7 / 3 / 9;
}

.contaner > div:nth-child(4) {
  grid-area: 4 / 2 / 5 / 3;
}

.contaner > div:nth-child(5) {
  grid-area: 3 / 3 / 5 / 5;
}

.contaner > div:nth-child(6) {
  grid-area: 3 / 5 / 5 / 7;
}

.contaner > div:nth-child(7) {
  grid-area: 3 / 7 / 5 / 9;
}

.contaner > div:nth-child(8) {
  grid-area: 5 / 1 / 9 / 5;
}

.contaner > div:nth-child(9) {
  grid-area: 5 / 5 / 7 / 7;
}

.contaner > div:nth-child(10) {
  grid-area: 5 / 7 / 6 / 8;
}

.contaner > div > div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: rotate(-45deg);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.contaner > div > div > span {
  font-size: 15px;
  transition: 500ms;
}

.contaner > div > div > ion-icon {
  color: #f5283b;
  font-size: 20px;
  transition: 500ms;
}

.contaner > div:hover > div {
  transition-delay: 0.7s;
  transform: scale(1.8) rotate(-45deg);
}

.contaner > div:nth-child(2) > div > ion-icon,
.contaner > div:nth-child(3) > div > ion-icon,
.contaner > div:nth-child(5) > div > ion-icon,
.contaner > div:nth-child(6) > div > ion-icon,
.contaner > div:nth-child(7) > div > ion-icon,
.contaner > div:nth-child(9) > div > ion-icon {
  font-size: 60px;
}

.contaner > div:nth-child(2) > div > span,
.contaner > div:nth-child(3) > div > span,
.contaner > div:nth-child(5) > div > span,
.contaner > div:nth-child(6) > div > span,
.contaner > div:nth-child(7) > div > span,
.contaner > div:nth-child(9) > div > span {
  font-size: 18px;
}

.contaner > div:nth-child(8) > div > ion-icon {
  font-size: 150px;
}

.contaner > div:nth-child(8) > div > span {
  font-size: 30px;
}

.contaner > div:hover {
  background-color: #f5283b;
}

.contaner > div:hover > div > ion-icon {
  color: #ffffff;
}

.contaner > div:hover > div > span {
  color: #fff;
}

.contaner > div > div {
  transition: all 500ms;
}

.contaner > div:nth-child(1):hover {
  animation-name: hover1;
  animation-duration: 1s;
  background-color: #f5283cd7;
  animation-fill-mode: forwards;
  z-index: 2;
}

@keyframes hover1 {
  to {
    grid-area: 1 / 3 / 3 / 5;
  }
}

.contaner > div:nth-child(2):hover {
  animation-name: hover2;
  animation-duration: 1s;
  background-color: #f5283cd7;
  animation-fill-mode: forwards;
  z-index: 2;
}

.contaner > div:nth-child(3):hover {
  animation-name: hover2;
  animation-duration: 1s;
  background-color: #f5283cd7;
  animation-fill-mode: forwards;
  z-index: 2;
}

.contaner > div:nth-child(6):hover {
  animation-name: hover2;
  animation-duration: 1s;
  background-color: #f5283cd7;
  animation-fill-mode: forwards;
  z-index: 2;
}

.contaner > div:nth-child(7):hover {
  animation-name: hover2;
  animation-duration: 1s;
  background-color: #f5283cd7;
  animation-fill-mode: forwards;
  z-index: 2;
}

@keyframes hover2 {
  to {
    grid-area: 1 / 5 / 5 / 9;
  }
}

.contaner > div:nth-child(4):hover {
  animation-name: hover3;
  animation-duration: 1s;
  background-color: #f5283cd7;
  animation-fill-mode: forwards;
  z-index: 2;
}

@keyframes hover3 {
  to {
    grid-area: 3 / 1 / 5 / 3;
  }
}

.contaner > div:nth-child(5):hover {
  animation-name: hover4;
  animation-duration: 1s;
  background-color: #f5283cd7;
  animation-fill-mode: forwards;
  z-index: 2;
}

.contaner > div:nth-child(9):hover {
  animation-name: hover4;
  animation-duration: 1s;
  background-color: #f5283cd7;
  animation-fill-mode: forwards;
  z-index: 2;
}

@keyframes hover4 {
  to {
    grid-area: 3 / 3 / 7 / 7;
  }
}

.contaner > div:nth-child(10):hover {
  animation-name: hover5;
  animation-duration: 1s;
  background-color: #f5283cd7;
  animation-fill-mode: forwards;
  z-index: 2;
}

@keyframes hover5 {
  to {
    grid-area: 5 / 7 / 7 / 9;
  }
}

.contaner > div:nth-child(8):hover {
  animation-name: hover6;
  animation-duration: 1s;
  background-color: #f5283cd7;
  animation-fill-mode: forwards;
  z-index: 2;
}

@keyframes hover6 {
  to {
    grid-area: 3 / 1 / 9 / 7;
  }
}

@media screen and (max-width: 1100px) {
  .contaner {
    width: 500px;
    height: 500px;
  }
}

@media screen and (max-width: 870px) {
  .contaner {
    transform: rotate(135deg);
    position: absolute;
  }

  .contaner > div > div {
    transform: rotate(-135deg);
  }

  .contaner > div:hover > div {
    transform: scale(1.8) rotate(-135deg);
  }
}

@media screen and (max-width: 400px) {
  .contaner {
    transform: rotate(135deg) scale(0.8);
  }
}

@media screen and (max-width: 300px) {
  .contaner {
    transform: rotate(135deg) scale(0.6);
  }
}

@media screen and (max-width: 220px) {
  .contaner {
    transform: rotate(135deg) scale(0.4);
  }
}

@media screen and (max-width: 150px) {
  .contaner {
    transform: rotate(135deg) scale(0.3);
  }
}
